language: ruby

rvm:
  - "1.9.3"
  - "2.0"
  - "2.1"

before_install:
  - "gem install bundler"

script:
  - "bundle exec rake"
  
before_script:
  - echo 'America/New_York' | sudo tee /etc/timezone
  - sudo dpkg-reconfigure --frontend noninteractive tzdata

cache: bundler
